.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
}
.genreTitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
    text-align: center;
  padding: 1.2rem;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 20px;
}

.allTitle {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 20px;
}